
@media screen and (min-width: 320px) and (max-width: 480px) {
  
    .mainHome{
        background-size: 400% auto;
    }
    .MainImg h1 {
        font-size: 1.5em;
        text-shadow: 3px 3px black;
    }

    .MainImg p{
        font-size: 1em;
    }

                                                         /* ! PARTIE CONCERNANT LE MENU BURGER */
    
    /* Parent contenant l'icon burger */
    header .iconBurger{
        display: flex;
        justify-content: center;
        align-self: center;
        width: 50px;
        height: 50px;
        color: white;
        margin-right: 5%;
        border-radius: 50%;
        background-color: #111827;
        position: relative;
        z-index: 4;
 
    }

    /* Span représentant la barre du milieu du menu burger */
    .iconBurger span{
        width: 30px;
        height: 3px;
        align-self: center;
        background-color: white;
    }

    /* Span pour créer lees barres du haut et du bas du menu burger */
    .iconBurger span::before, .iconBurger span::after{
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: white;
    }

    /* Permet de placer la barre du haut et du bas */
    .iconBurger span::before{
        transform: translateY(-10px);
    }

    .iconBurger span::after{
        transform: translateY(10px);
    }

    /* Permet de faire disparaitre la barre du milieu du menu burger au click de l'utilisateur, cette classe est attribué à l'aide du JS */
    .iconBurger.active span{
        background-color: transparent;
    }

    /* Permet d'éffectuer une rotation permettant d'afficher une croix */
    .iconBurger.active span::before{
        transform: translateY(0px) rotateZ(45deg);
    }

    .iconBurger.active span::after{
        transform: translateY(0px) rotateZ(-45deg);
    }


    /* Permet de retirer les boutons de navigation pour l'user en session et le visiteur  */
    .groupButton, .navGuest{
        display: none;
    }

    .navMobile{
        position: fixed;
        display: block;
        width: 250px;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #111827;
        z-index: 3;
        transform: translateX(-100%); /*Permet de sortir la menu de navigation mobile de l'ecrans */
        transition: 0.4s transform cubic-bezier(.43,.73,0,.98);
    }

    .navMobile.active{
        transform: initial;
    }

    .mobileOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(20, 20, 20, 0.4);
        display: none;
        z-index: 2;
    }

    .mobileOverlay.active{
        display:initial;
    }

    /* Logo, nom du site */
    .groupInfosBurger figure{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 16px;
    }

    /* Nom du site */
    .groupInfosBurger figcaption{
        align-self: center;
        color: white;
        font-family: 'play', sans-serif;
        font-size: 1.5em;
    }

    /* Avatar et Nom user */
    .userBurger{
        text-align: center;
        width: 90%;
        margin: auto;
        border-bottom: 1px solid #565656;
        padding-bottom: 10px ;
    }

    .avatarUserBurger{
        text-align: center;
    }

    .avatarUserBurger img{
        width: 130px;
        height: 130px;
        object-fit: cover;   
        border-radius: 30px;    
    }

    .userBurger .pseudo{
        font-size: 1.8em;
        font-family: 'play', sans-serif;
         padding-bottom: 10px;
    }

    /* Liste des bouttons de la nav burger */
   .groupButtonBurger, .navGuestBurger{
        display: flex;
        flex-direction: column;
   }


   /* Nom du boutton */
   .logoEntitled{
        display: flex;
   }

   /* Logo du boutton */
   .logoEntitled svg{
        width: 30px;
        height: 30px;
        color: azure;
        margin: 15px 0 0 15px
   }

   .dropbtnBurger{
        background-color: #111827;
        color: azure;
        border: none;
        margin: 15px 0 0 15px;
        font-size: 1em;
        font-family: 'play', sans-serif;
   }

   .dropdownBurgerAdmin-content, .dropdownBurgerEvent-content, .dropdownBurgerProfil-content {
    display: none;
    min-width: 200px;
    z-index: 5;
    }

    .dropdownBurgerAdmin-content.active, .dropdownBurgerEvent-content.active, .dropdownBurgerProfil-content.active{

        display: flex;
        flex-direction: column;
    }

    .dropdownBurgerAdmin-content.active a, .dropdownBurgerEvent-content.active a, .dropdownBurgerProfil-content a {
        color: white;
        font-family: 'play' , sans-serif;
        padding: 5px 16px;
        text-decoration: none;
        display: block;
        font-size: 1em;
        margin: 0 0 0 75px;
        
    }



                                                            /* ! PARTIE CONCERNANT LE SLIDER */


    /* Correspond à un element du slider ( la vignette complete)*/
    .element{
        flex-direction: column;
    }

    /* Fleche de droite et gauche du slider */
    #nav-right, #nav-left{
        top: 130px;
    }

    /* Correspon à l'image (planette) et la figure */
    .element figure{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    /* Image de la planette */
    .element .imgPlanet{
        width: 200px;
        height: 200px;
    }

    /* Correspond au figcaption */
    .nbPosition{
        display: none;
    }

    /* Parent contenant les infos de la planete */
    .infosPlanet{
        height: 45vh;
        margin-top: 0;
        padding: 0px 3px 20px 3px;
        display: flex;
        justify-content: space-evenly;

    }

    /* Nom de la planete */
    .infosPlanet h2{
        margin: -70px auto 10px;
    }

    /* Description */
    .descriptionPlanet{
        width: 90%;
        margin: 5% auto;
    }

    /* Concerne les infos de la periode orbitale et des satelites dans le slider */
    .moreDetail{
        width: 80%;
        margin: auto;
        margin: 5px auto 0px;
        display: flex;
        flex-direction: column;
    }

    /* Parent contenant les dots */
    .dots{
        width: 90%;
        margin: 20px auto 5% auto;
        display: none;
    }



                                                                /* ! PARTIE CONCERNANT L'API' */




    .infosPlanet, .imageJour{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .titleDay{
        margin-top: 5%;
        width: 95%;
    }

    .wrapperMediaDescrition{
        flex-direction: column;
        align-items: center;
    }

    .description-div{
        width: 95%;
        margin-top: 3%;
        text-align: center;
        border: none;
    }

    .description-div #title{
        margin: 1em 0 2em 0;
    }

    .containtLinks{
        margin-right: 0;
        width: 70%;
        justify-content: space-evenly;
    }

    /* Cette classe proviens de l'API APOD */
    #image_of_the_day {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .selectDate, label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }







    .logoFooter{
        width: 180px
    }
                                                                                                                        
                                                                
                                                                

















    .normalFooter{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 800px;

    }


    .blockFigureFooter{
        /* position: absolute; */
        display: flex;
        width: 100%;
        margin-bottom: 0;
        justify-content: center;
        
    }

    .containtLinks{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        height: 580px;
        text-align: center;

    }



    .logoFooter{
        margin-top: 40px;
        width: 200px;
        height: auto;
    }

    .rules, .network, .planSite{
        display: flex;
        flex-direction: column;
    }

    .rules a, .network a, .planSite a, h3{
        display: flex;
        flex-direction: column;
        color: white;
        text-decoration: none;
    }


}