/* Main de la page index.html.twig dans admin */
.mainAdmin{
    text-align: center;
    margin: auto;
    width: 60%;
    height: 644px;
}

/* Main de la page listUsers.html.twig dans admin */
.mainAdminUsers{
    text-align: center;
    margin: auto;
    width: 60%;
    min-height: 500px;
    margin-bottom: 5%;
}

.mainAdminEvents{
   
    margin: auto;
    width: 90%;
    min-height: 500px;
    margin-bottom: 5%;
}


/* Main de la page editUser.html.twig dans admin */
.mainEditUser, .mainEditEvent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 667px;
    margin: auto;
    width: 40%;
}

.containtEditUser, .containtEditEvent{
    border: solid 1px black;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3%;
}


/* Css concernant le bouton submit de la page editUser.html.twig dans admin */
.mainEditUser .submit, .mainEditEvent .submit{
    margin-top: 5%;
    text-align: center;
}

th{
    padding: 0 20px  !important;
    text-align: center;
}



/* Css commun à toutes les pages admin */

.mainAdminUsers table{
    text-align: center;
}

.mainEditUser .roles,
.mainEditUser .pseudonyme,
.mainEditEvent .eventTitle, .eventDescription, .eventStartDate, .eventEndDate{
    margin-top: 3%;
}

.containtDate{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.eventStartDate div, .eventEndDate div{
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.containtDate input{
    text-align: center;
}

.roles #admin_edit_user_roles,
.pseudonyme #admin_edit_user_pseudonyme,
.eventTitle #admin_edit_event_title,
.eventDescription #admin_edit_event_description,
.eventStartDate #admin_edit_event_startDate,
.eventEndDate #admin_edit_event_endDate{  
    margin-top: 1%;
}

.eventDescription #admin_edit_event_description{
    height: 110px;
    text-overflow: ellipsis;
}


.mainAdmin h1, .mainAdminUsers h1, .mainEditUser h1{
    font-family: 'play', sans-serif;
    font-weight: bold;
    margin-top: 2%;
}

.mainAdmin p,  .mainAdminUsers p, .mainEditUser p{
    margin: 2% 0;
}

.mainAdmin table, .mainAdminUsers table{
    margin-top: 2% ;
}

