@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Image de background  */
body{
    background-image: url(../../img/wallhaven.jpg);
    background-size: 100% auto;
}

main{
    /* display: flex;
    flex-direction: column; */
    width: 80%;
    margin: auto;
}



                                            /* Image principale contenant également le <h1> et le <p> de la figCaption  */

.MainImg{
    display: flex;
    position: relative;
    text-align: center;
    margin-bottom: 0 ; /* POUR CONTRER LE BOOOOOOOTSRAP */
}

/* Image de la terre */
.imgEarth{
    margin-top: 5%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.MainImg figcaption{
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.MainImg h1{
    font-size: 3em;
    text-shadow: 3px 3px black;
    /* font-family: 'play', sans-serif; */
    font-family:  'Roboto Slab', serif;
}

.MainImg p{
    font-size: 1.5em;
    text-shadow: 3px 3px black;
    font-family: 'play', sans-serif;
    padding-top: 10%;
}



                                            /* Vignette du carousel des planètes dans le home */

.diapo{
    color: white;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 3% 0;
}

/* .elements{

    display: flex;

} */

.element{
    display: flex;
    width: 80%;
    margin: auto;
}

.element figure{
    display: flex;
}

.nbPosition{
    font-size: xxx-large;
    color: rgba(255, 255, 255, 0.20);
    font-weight: bold;
    margin-right: 10px;
}

.imgPlanet{
    width: 300px;
}

.infosPlanet{
    display: flex;
    flex-direction: column;
    height: 230px;
    font-size: 0.9em;
    margin-top: 3%;
}

.infosPlanet h2{
    font-size: xx-large;
    margin-bottom: 20px;
}

.descriptionPlanet{
    text-align: justify;
    width: 80%;
}

.blockDescriptionAndDetail{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.moreDetail{
    display: flex;
}

.moreDetail p{
    margin-right: 15%;
}

.listPlanets{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    margin-top: 3%;
}


