@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{

    background-image: url('../../img/imgModifyProfil.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

}

.editProfilMain{  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    padding: 3%;
    height: 767px;
    max-width: 1280px;
}

form{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.editProfilMain form{
    width: 60%;
    margin: auto;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.8);
    padding: 35px;
    border-radius: 25px;
}

.containt{
    align-self: center;
    min-width: 149px;
    min-height: 149px;
    max-width: 150px;
    max-height: 150px;
}

main form .containt figure img{
    width: 100%;
    min-width: 149px;
    min-height: 149px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 30px;
}

.inputs div{
    margin-top: 20px;
}

.inputs .email-pseudo div{
    width: 45%;
}

.email-pseudo{
    display: flex;
    justify-content: space-between;
}

.inputs label{
    font-family:  'Roboto Slab', serif;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.submitProfil{   
    display: flex;
    align-self: center;
    padding: 5px 30px;
    font-weight: bold;
    margin: auto; 
}

.deleteAccount{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/* footer{
    bottom: 0 !important;
} */

/* Modal */

.aWithoutStyle{
    text-decoration: none;
}

