.blockInputs {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.blockInputs div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.blockInputs .submit{
    align-self: center;
}

.submit{
    width: 30%;
}

footer{
    bottom: 0 !important;
}