{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}



{% block body %}

<main class="mainEditPost">
        
    <div class="containtEditPost">

        <h1>Modification du message</h1>


    {{ form_start(editPost)}}

        {{ form_row(editPost.text)}}


        {{ form_row(editPost.submit)}}
       

    {{ form_end(editPost)}}


    </div>

</main>


{% endblock %}